html {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100vw;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-container {
  display: flex;
  flex: 1 1 auto;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  display: flex;
  align-items: center;
}

.home-img {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  margin: 50px;
}

.title {
  text-align: center;
  font-family: roboto, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 100px;
  line-height: 1em;
  margin: 0 0 50px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.redirect-button {
  position: relative;
  width: 200px;
  font-size: 15px;
  background-color: #e3e3e3;
  border: none;
  color: black;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  font-family: roboto, sans-serif;
  text-align: center;
  padding: 15px;
  transition: 300ms color ease-in-out;
}

.redirect-button:hover,
.redirect-button:focus {
  color: white;
}

.redirect-button:before {
  content: '';
  background-color: var(--accent-colour);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.redirect-button:hover:before,
.redirect-button:focus:before {
  transform-origin: left;
  transform: scaleX(1);
}

.redirect-button:hover,
.redirect-button:focus {
}

.secret-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.secret-btn:not(:focus) {
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
  padding: 0;
}

@media (max-width: 500px) {
  .home-img {
    width: 100vw;
    height: 100vw;
  }
}
