:root {
  --links-container-height: 39.2px;
}

body {
  margin: 0;
}

.page-container {
  display: flex;
  height: calc(100vh - var(--links-container-height));
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  display: flex;
  align-items: center;
}

.home-img {
  height: auto;
  width: auto;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
  margin: 50px;
}

.title {
  margin: 0;
  text-align: center;
  font-family: roboto, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 100px;
  line-height: 1em;
  margin-bottom: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.redirect-button {
  height: 40px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  margin: 5px;
  cursor: pointer;
  transition: 150ms background-color ease-in-out;
}

.redirect-button:hover,
.redirect-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.secret-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.secret-btn:not(:focus) {
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
  padding: 0;
}
