:root {
  --links-container-height: 39.2px;
}

body {
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--links-container-height));
  width: 100vw;
  justify-content: center;

  background-image: url(/resources/images/title-background.jpg);
  background-position: 0px -300px;
}

.title {
  margin: 0;
  text-align: center;
  font-family: roboto, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.redirect-button {
  height: 40px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  margin: 5px;
  cursor: pointer;
  transition: 150ms background-color ease-in-out;
}

.redirect-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
