body {
  margin: 0;
}

.author {
  font-family: roboto, sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.instructions {
  font-family: roboto, sans-serif;
  text-align: center;
}

.instructions::before {
  content: "Instructions: ";
  font-weight: 600;
}

.live-demos {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.live-demo-container {
  position: relative;
  max-width: 500px;
  min-width: 485px;
  padding: 10px;
  margin: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0 0 100px;
  border-radius: 10px;
}

@media (min-width: 520px) {
  .live-demos {
    justify-content: center;
  }
}
